@font-face {
    font-family: 'Listen';
    src: url(./fonts/Listen\ Learn\ Rethink.ttf);
}

@font-face {
    font-family: 'Credits';
    src: url(./fonts/Directory.ttf);
}



body {
    background-color: rgb(134, 130, 130);


}

.title {
    text-align: center;
    /* background-color: blanchedalmond; */
    margin: 100px 0;

}

.title h1 {
    font-size: 100px;
    font-family: 'Listen';
    color: rgb(44, 194, 199);
}

main {
    /* background-color: antiquewhite; */
    text-align: center;

}

.img-todo {
    width: 300px;
    display: inline-block
}

main form {
    margin: 50px;
}


main input,
.add-todo {
    font-size: 30px;
    color: gray;
    font-family: 'Listen';
    padding: 10px;
    vertical-align: middle;

}

.add-todo {
    font-size: 25px;
    height: 50px;

}


main input {
    border-radius: 10px;
}

.add-todo:hover {
    background-color: rgb(44, 194, 199);
}


ul {
    margin: 0 auto;
    text-align: center;
    display: inline-block;


}

.li-item {
    background-color: white;

    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    border: 2px solid gray;
    border-radius: 10px;




}

.fa-solid {

    float: right;
    margin: 5px 0 0 50px;
}

.fa-solid:hover {
    color: aquamarine;
}

input[type="checkbox"] {
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 20px;
    margin-top: 3px;
}

input[type="checkbox"]:checked {
    accent-color: aqua;
}


footer {
    margin-top: 300px;
    text-align: center;
}

footer p {
    font-family: 'Credits';
    font-weight: 400;

}


.to-do-executado{
    text-decoration: line-through;
}